header,
main {
  display: flex;
  flex-direction: column;
  align-items: center;
}

button {
  width: 80px;
}

#mensagem {
  font-size: large;
  margin-top: 2rem;
  color: brown;
}
h1 {
  color: orangered;
}
